body {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #1A151B;
}

header {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logo h2 {
    color: #fff;
    font-size: 30px;
}

.logo span {
    color: #CB1206;
}

.section-1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.area-title h3 {
    color: #fff;
    font-weight: normal;
    
}

.area-title h1 {
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    margin-top: -12px;
}

.area-title a{
    display: inline-block;
    background-color: #85062C;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.area-title a:hover {
    background-color: #5a0820;
    transition: all 0.3s;
}

.image1 img {
    width: 455px;
    height: auto;
    margin-top: 20px;
    margin-left: 60px;
}

.section-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
    
}

.section-cards h2 {
    color: #fff;
    font-size: 22px;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.card {
    background-color: #302C37;
    width: 200px;
    height: 180px;
    margin-left: 25px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
}

.card:hover {
    background-color: #85062C;
    transition: 0.3s all;
}

.card img {
    width: 65px;
}

.section-3 {
    background-color: #85062C;
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.area-title-2 h1 {
    color: #fff;
    font-size: 35px;
}

.area-title-2 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: -24px;
}

.area-title-2 a {
    display: inline-block;
    background-color: #fff;
    padding: 15px 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.area-title-2 a:hover {
    color: #fff;
    background-color: #b84e65;
    transition: all 0.2s ease;
}

.image2 img {
    width: 280px;
    height: auto;
    margin-top: 5px;
    margin-left: 100px;
}

.area-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}

.area-form h2 {
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.formulario form {
    display: flex;
    flex-direction: column; 
    width: 400px;
    height: 300px;  
}

.formulario input {
    margin-top: 20px;
    padding-left: 10px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-family: 'Oswald';
    cursor: pointer;
}

input::placeholder{
    color: #000;
    text-transform: uppercase;
}

input[type=submit] {
    background-color: #85062C;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    height: 55px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5a0820;
    transition: all 0.3s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.social h3 {
    color: #fff;
    font-weight: normal;
}

.social img {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}
